ul {
    margin: 0;
    padding: 0;
}

.site-header {
    height: 0;
}

.header-wrap {
    width: 100%;
    box-sizing: border-box;
}

.social {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    background-color: rgba(43, 49, 56, 0);
}

.social-container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.social-wrap {
    width: 100%;
    margin: 0;
    padding: 15px 0;
}

.social-wrap .social-item {
    background-color: #59636f;
    color: #ffffff;
    margin-right: 15px;
    font-size: 15px;
    border-radius: 50%;
    text-decoration: none;
}

.social-wrap .social-item i {
    width: 20px;
    text-align: center;
}

.navigation-top {
    background-color: rgba(99, 99, 99, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 15px 25px 15px;
    position: relative;
    z-index: 1;
}


.navigation-container {
    max-width: 1200px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.navigation-wrap {
    width: 100%;
    display: block;
    float: left;
}

.top-logo {
    width: 20%;
    float: left;
}

.top-menu-wrap {
    width: 50.25%;
    height: 112px;
    position: relative;
    min-height: 1px;
    float: left;
}

.top-menu {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.top-menu li {
    float: left;
}

.top-menu li a {
    color: #ffffff;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 18px;
    letter-spacing: 0px;
}

.top-contact {
    width: 29.746%;
    float: left;
}

.contact-container {
    width: 100%;
}

.contact-wrap {
    height: 112px;
}

.contact-wrap a {
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px 0px 0px 0px;
}

.top-slide {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.top-slide img {
    width: 100%;
    object-fit: cover;
}

.bussiness {
    background-color: #3a424c;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 67px 15px 70px 15px;
    width: 100%;
    position: relative;
    display: flex;
}

.elementor-element {
    width: 100%;
}

.element-container {
    max-width: 1200px;
    margin: 0 auto;
}

.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 11px 0px 35px 0px;
}

.bussiness-item {
    float: left;
    width: 33.33%;
    padding: 0 30px 0 0;
}

.element-icon {
    font-size: 60px;
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-align: center;
    color: #ffffff;
    border-color: #ffffff;
}

.element-icon-box-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 30px;
    letter-spacing: 0px;
    margin: 16px 0;
}

.element-icon-box-description {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 18px;
    letter-spacing: 0.5px;
    margin: 0;
}

.element-icon-box-content {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
}

.jet-button__instance {
    width: 204px;
    height: 56px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #3498db;
    color: #ffffff;
    border: 2px solid #3498db;
    border-radius: 6px 6px 6px 6px;
    display: block;
}

.jet-button__instance:hover {
    text-decoration: none;
    background-color: #ffffff;
}

.jet-button__label {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 3.5;
}

.element-section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 119px 15px 70px 15px;
}